@media only screen and (max-width: 40em) {
  .off-canvas-list li {
    color: #fff;
    position: relative;
    left: 10px;
    font-size: 1.5em; }

  .title {
    font-weight: bold;
    font-size: 2em;
    border: none; }

  header {
    background-color: #000000;
    color: #fff;
    height: 60px;
    width: 100%; }
    header ul {
      display: inline-block;
      font-size: 10px;
      list-style: none;
      position: relative;
      top: 8px;
      right: 10px; }
    header li:first-child {
      font-size: 12px; }
    header img:first-child {
      height: 25px;
      width: 40px;
      border-right: solid 1px #fff;
      padding-right: 10px; }
    header a {
      float: right;
      position: relative;
      font-size: .6em;
      top: 0;
      font-weight: bold;
      text-align: center;
      text-transform: uppercase;
      border-radius: 10px;
      padding: .5em 2em;
      background-color: #04AF09;
      color: #fff;
      margin-top: -35px; }
    header a:hover {
      opacity: .8;
      color: #fff; }
    header .signup {
      border-top: solid 1px #fff; }

  .logo {
    position: relative;
    margin-top: -45px;
    height: 32px;
    width: 30px;
    display: block;
    margin-right: auto;
    margin-left: auto; }

  .icon-bar {
    height: 10%;
    background: linear-gradient(#545454, #000000);
    background: -webkit-linear-gradient(#545454, #000000);
    background: -o-linear-gradient(#545454, #000000);
    background: -moz-linear-gradient(#545454, #000000); }
    .icon-bar a {
      position: relative;
      padding-top: 10px;
      color: #04AF09; }
    .icon-bar img {
      height: 1.3em;
      width: 1.3em; }
    .icon-bar label {
      font-size: .65em; }
    .icon-bar .menu {
      color: #04af09; }
    .icon-bar input[type="search"] {
      position: relative;
      border-radius: 10px;
      top: 10px;
      width: 82%;
      float: right;
      display: none;
      margin-right: 10px;
      text-align: left; }
    .icon-bar .exit {
      display: none;
      height: 100%;
      width: 15%;
      background: none; }

  .breakingNews {
    background-color: #FA191D;
    color: #fff;
    display: none;
    position: absolute;
    top: 125px;
    z-index: 100;
    opacity: .9; }
    .breakingNews h2 {
      color: #fff; }
    .breakingNews button {
      display: inline-block;
      position: absolute;
      background: none;
      padding: 4px 10px 4px 10px;
      border: solid 1px #fff;
      border-radius: 50%; }

  img .splash {
    width: 100%; }

  .x {
    position: absolute;
    height: 40px;
    width: 1px;
    left: 100%;
    bottom: 30%;
    background-color: #fff;
    opacity: .2; 
  } 
}
  /*kai's css*/

  /* Header CSS */
  header {
    background-color: #000000;
    color: #fff;
    height: 60px;
    width: 100%; 
    }
  header ul {
      display: inline-block;
      font-size: 10px;
      list-style: none;
      position: relative;
      top: 8px;
      right: 10px;
    } 
  header li:first-child {
      font-size: 12px; 
    }
  header img:first-child {
      height: 25px;
      width: 40px;
      border-right: solid 1px #fff;
      padding-right: 10px; 
    }
  header a {
      float: right;
      position: relative;
      font-size: .6em;
      top: 0;
      font-weight: bold;
      text-align: center;
      text-transform: uppercase;
      border-radius: 10px;
      padding: .5em 2em;
      background-color: #04AF09;
      color: #fff;
      margin-top: -35px; 
    }
  header a:hover {
      opacity: .8;
      color: #fff; 
    }
  header .signup {
      border-top: solid 1px #fff; 
    }
  .logo {
    position: relative;
    margin-top: -45px;
    height: 32px;
    width: 30px;
    display: block;
    margin-right: auto;
    margin-left: auto; 
    }  
/********************/
/* Breaking News CSS */

.top-bar{
  height: 25px;
  top: 60px;
  z-index: 999;
  margin-bottom: 50px;
  border-top: 2px solid white; 
  background-color: black;
}
i{
  color: yellow;
}
.alert-box{
  position: absolute;
  width: 100%;
  z-index: 998;
}
/*# sourceMappingURL=style.css.map */
